@{
    ViewData["Title"] = "Vibradores";
}

<h2 class="text-danger">Vibradores</h2>
<p>Encuentra el vibrador perfecto para tus momentos más íntimos.</p>

<div class="row">
    <div class="col-md-4">
        <div class="card bg-dark text-light mb-3">
            <img src="~/img/vibrador1.jpg" class="card-img-top" alt="Vibrador 1">
            <div class="card-body">
                <h5 class="card-title">Vibrador Clásico</h5>
                <p class="card-text">Potencia ajustable y diseño discreto.</p>
                <a href="#" class="btn btn-danger">Ver más</a>
            </div>
        </div>
    </div>
</div>
